In [1]:
import pandas as pd
import numpy as np

# Grocery Stores
Isolating only the California grocery stores.

In [2]:
grocery_stores = pd.read_csv('./data/grocery_stores.csv')
grocery_stores.head()

,CensusTract,State,County,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle,Urban,Rural,LA1and10,...,lapop20,lapop20share,lalowi20,lalowi20share,lakids20,lakids20share,laseniors20,laseniors20share,lahunv20,lahunv20share
0,1001020100,AL,Autauga,0,0,0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1001020200,AL,Autauga,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1001020300,AL,Autauga,0,0,0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1001020400,AL,Autauga,0,0,0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1001020500,AL,Autauga,0,0,0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
ca_only = grocery_stores[grocery_stores.State == 'CA'].copy()
ca_only.head()

,CensusTract,State,County,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle,Urban,Rural,LA1and10,...,lapop20,lapop20share,lalowi20,lalowi20share,lakids20,lakids20share,laseniors20,laseniors20share,lahunv20,lahunv20share
3558,6001400100,CA,Alameda,0,0,0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3559,6001400200,CA,Alameda,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3560,6001400300,CA,Alameda,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3561,6001400400,CA,Alameda,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3562,6001400500,CA,Alameda,0,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
ca_only['geoid'] = ("0" + ca_only['CensusTract'].astype(str))

In [5]:
ca_only.to_csv('./data/ca_only_grocery_stores.csv')

In [6]:
li = ca_only.loc[:, ['geoid', 'LowIncomeTracts']].copy()
li.to_csv('./data/low_income_geoid.csv')

# Farmers Markets
Again, isolating them to just california.

In [7]:
farmers_markets = pd.read_csv('./data/farmers_market_data.csv')
farmers_markets.head()

,FMID,MarketName,Website,Facebook,Twitter,Youtube,OtherMedia,street,city,County,...,Coffee,Beans,Fruits,Grains,Juices,Mushrooms,PetFood,Tofu,WildHarvested,updateTime
0,1018261,Caledonia Farmers Market Association - Danville,https://sites.google.com/site/caledoniafarmers...,https://www.facebook.com/Danville.VT.Farmers.M...,NaN,NaN,NaN,NaN,Danville,Caledonia,...,Y,Y,Y,N,N,Y,Y,N,N,6/20/2017 10:43:57 PM
1,1018318,Stearns Homestead Farmers' Market,http://www.StearnsHomestead.com,StearnsHomesteadFarmersMarket,NaN,NaN,NaN,6975 Ridge Road,Parma,Cuyahoga,...,N,N,Y,N,N,N,N,N,N,6/21/2017 5:15:01 PM
2,1009364,106 S. Main Street Farmers Market,http://thetownofsixmile.wordpress.com/,NaN,NaN,NaN,NaN,106 S. Main Street,Six Mile,NaN,...,N,N,N,N,N,N,N,N,N,2013
3,1010691,10th Steet Community Farmers Market,NaN,NaN,NaN,NaN,http://agrimissouri.com/mo-grown/grodetail.php...,10th Street and Poplar,Lamar,Barton,...,N,N,Y,N,N,N,N,N,N,10/28/2014 9:49:46 AM
4,1002454,112st Madison Avenue,NaN,NaN,NaN,NaN,NaN,112th Madison Avenue,New York,New York,...,N,N,N,N,N,N,N,N,N,3/1/2012 10:38:22 AM

In [8]:
farmers_markets['State'].value_counts()

California              759
New York                673
Michigan                343
Illinois                339
Ohio                    334
Massachusetts           327
Wisconsin               312
Pennsylvania            310
Florida                 264
Virginia                262
Missouri                257
North Carolina          256
Texas                   236
Iowa                    227
Minnesota               200
Indiana                 199
Washington              175
Georgia                 169
Maryland                165
Colorado                160
Oregon                  159
Connecticut             158
New Jersey              155
Alabama                 141
Kentucky                139
Tennessee               134
South Carolina          133
Kansas                  121
Arkansas                111
Nebraska                104
New Hampshire            96
Hawaii                   96
Maine                    95
West Virginia            94
Arizona                  93
Vermont                  92
Mississippi              83
Louisiana                81
Oklahoma                 74
Montana                  72
New Mexico               72
North Dakota             66
Idaho                    66
District of Columbia     58
Wyoming                  50
Utah                     46
Puerto Rico              42
South Dakota             41
Nevada                   38
Alaska                   37
Delaware                 36
Rhode Island             36
Virgin Islands            4
Name: State, dtype: int64

In [9]:
ca_only_farmers_markets = farmers_markets.query("State == 'California'")
ca_only_farmers_markets.head()

,FMID,MarketName,Website,Facebook,Twitter,Youtube,OtherMedia,street,city,County,...,Coffee,Beans,Fruits,Grains,Juices,Mushrooms,PetFood,Tofu,WildHarvested,updateTime
89,1005272,Adelanto Stadium Farmers Market,NaN,NaN,NaN,NaN,NaN,Hwy 395 & Rancho Drive,Victorville,San Bernardino,...,N,N,N,N,N,N,N,N,N,2009
108,1009019,Alameda Farmers' Market,http://www.pcfma.com,https://www.facebook.com/AlamedaFarmersMarket,NaN,NaN,NaN,Haight and Webster St.,Alameda,Alameda,...,N,N,Y,N,N,N,N,N,N,6/27/2016 12:57:44 PM
136,1008835,Alisal Certified Farmers' Market,http://www.everyonesharvest.org,https://www.facebook.com/EveryonesHarvest,NaN,NaN,NaN,632 East Alisal Street,Salinas,Monterey,...,N,N,Y,N,N,N,N,N,N,6/27/2016 3:24:13 PM
164,1009998,Altadena Farmers' Market,http://www.altadenafarmersmarket.com,https://www.facebook.com/AltadenaFarmersMarket,https://twitter.com/AltadenaFM,NaN,http://altadenafm.tumblr.com,600 W. Palm Street,Altadena,Los Angeles,...,Y,N,Y,Y,Y,Y,N,N,N,4/22/2014 1:29:47 PM
170,1011421,Alum Rock Village Farmers' Market,http://www.pcfma.org,www.facebook.com/AlumRockVillageFarmersMarket,www.twitter.com/PacCoastFarmers,NaN,NaN,57 North White Road,San Jose,Santa Clara,...,Y,N,Y,N,N,N,N,N,N,7/20/2015 12:39:04 PM

In [10]:
ca_only_farmers_markets.to_csv('./data/ca_only_farmers_markets.csv')